Source: createap
Maintainer: Frederic guilbault <2@0464.ca>
Section: net
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>=9)
Homepage: https://github.com/aanatoly/fbpanel

Package: createap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, procps|procps-ng,hostapd,iproute2,iw,dnsmasq,iptables,iwconfig
Description: Create an AP (Access Point).
